<p>recipe-detail works!</p>

<div class="row">

  <img src="{{recipe.imagePath}}" alt="" class="img-fluid">
  <h1>{{recipe.name}}</h1>

</div>
<div class="row">
  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle">
      Manage Recipe
      <span class="visually-hidden">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#"> To shopping list</a></li>
      <li><a href="#">Edit recipe</a></li>
      <li><a href="#"> Delete recipe</a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{recipe.description}}
    </div>
    </div>
  <div class="row">
    <div class="col-xs-12">
      Ingredients
    </div>
  </div>
</div>
